/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

.idea
.jetbrains

/src/generated/prisma
projects
.idx/.data/

infra/dev/.env.dev.*
infra/local/.env.local.*
infra/prod/.env.prod.*

# tapi keep *.example di repo
!infra/dev/.env.dev.*.example
!infra/local/.env.local.*.example
!infra/prod/.env.prod.*.example
